*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
}

.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 30px;
    background: #9b59b6;
}

.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input,
.input-box select{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.gender-details{
    margin: 15px 0;
}

.gender-title{
    font-weight: 500;
}

.button{
    margin-top: 20px;
}

.button input{
    width: 100%;
    height: 45px;
    border: none;
    background: #9b59b6;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}