*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: #dfdfdf;
}

.login-box{
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px; 
    background: #fff;
    border-radius: 20px;
}

.login-header header{
    text-align: center;
    margin: 20px 0 40px 0;
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: 0.3s;
}

::placeholder{
    font-weight: 500;
    color: #222;
}

.input-field:focus{
    width: 105%;
}

.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section{
    display: flex;
    align-items: center;
}

#check{
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #555;
}

a:hover{
    text-decoration: underline;
}

.input-submit{
    position: relative;
}

.submit-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    transition: .3s;
}

.submit-btn:hover{
    background: #000;
    transform: scale(1.05);
}

.sign-up{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up a{
    color: #000;
    font-weight: 600;
}